openapi: 3.2.0
info:
  title: Cronitor Telemetry API
  description: The Telemetry API is the core integration mechanism for recording job execution events (run, complete, fail, ok) to Cronitor monitors. Events are sent via GET, POST, or HEAD requests to the cronitor.link domain with the API key embedded in the URL path, enabling lightweight pings from any environment. Supports email integration and rate-limited event delivery.
  version: v1
  contact:
    name: Cronitor Support
    url: https://cronitor.io/docs/telemetry-api
  license:
    name: Proprietary
    url: https://cronitor.io
servers:
- url: https://cronitor.link
  description: Cronitor Telemetry server
tags:
- name: Cronitor Telemetry API
paths:
  /{monitorKey}:
    parameters:
    - name: monitorKey
      in: path
      required: true
      schema:
        type: string
      description: Monitor key for anonymous telemetry events.
    get:
      operationId: sendAnonymousTelemetryEvent
      summary: Send an anonymous telemetry event
      description: Records an event without an API key for monitors that allow anonymous telemetry.
      parameters:
      - name: state
        in: query
        required: true
        schema:
          type: string
          enum:
          - run
          - complete
          - fail
          - ok
      - name: message
        in: query
        schema:
          type: string
          maxLength: 2000
      - name: metric
        in: query
        schema:
          type: string
      - name: series
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Event recorded.
        '429':
          description: Rate limit exceeded.
      tags:
      - Cronitor Telemetry API
